body{
	font: 15px/1.5 Georgia, "Gill sans", san-serif;
	padding: 0;
	margin: 0;
	min-height: 100%;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
	
}

.bg-image{
	min-height: 70%;
	background-image: url(../img/coins.jpg);
	background-size: 100% 100%; 
	border-bottom: #33691E 2px solid;
}

header{
	color: #33691E;
	min-height: 20%;
	padding-top: 24px;
	border-bottom: #33691E 2px solid;
	background: #EEEEEE;
}

header a{
	color: #33691E;
	text-decoration: none;
	font-size: 16px;
}

nav > ul, .container > ul{
	padding: 0;
	margin: 0;
}

#user-type a {
	color: #EEEEEE;
}

#user-type .current a{
	color: #33691E;
}

aside{
background-color: #33691E;
float: right;
color: #EEEEEE;
width: 20%;
border: #EEEEEE solid 2px;
overflow: auto;
padding: 1em 1em 1em 1em;
margin-right: 5%;
border-radius: 10%;
box-shadow: 4px 5px black;
}

form > p{
	background-color: #33691E;
	width: 50%;
	border: 1px solid black;
	margin-left: 5px;
	padding: 1em;
}

span{
	font: 1.5em/1.5 Georgia, "Gill sans", san-serif;
}

header li{
	display: inline;
	padding: 0 20px 0 20px;
}

header nav{
	float: right;
	margin-top: 12px;
}

header #lettering{
	float: left;
}

header #lettering h1{
	margin: 0;
}

header .current{
	font-weight: bolder;
	background: #33691E;
}

.current a{
	color: #EEEEEE;
}

header a:hover, form > p{
	font-weight: bold;
}

footer{
	background: #EEEEEE;
	text-align: center;
	overflow: hidden;
	color: #33691E;
	min-height: 10%;
}

form{
	padding-bottom: 100px;
}

.container input{
	width: 50%;
	padding: 10px;
	margin: 5px;
	height: 20px;
	border: #33691E 3px solid;
	box-shadow: 4px 5px;
}

.button_1{
	margin: 10px 5px;
	width: 70px;
	height: 30px;
	color: #33691E;
	border: #33691E 2px solid
}
.container li, li a{
	float: left;
	text-decoration: none;
	margin: 10px 10px 10px 10px;
	list-style: none;
}

/* Media Queries */
@media(max-width: 768px){
	header #lettering, header nav,
	header nav li{
		float: none;
		display: inline;
		text-align: center;
	}
	aside{
		width: 50%;
	}
}